<% recommendations.forEach(book=> { const {_id,title,overview,vote_count, vote_average,crew,
	release_date,production_companies,production_countries, runtime,keywords,adult, revenue,genres, original_title,
	original_language, spoken_languages,cast,tags,score,imdb_id,budget,maxTag,user_rating,screenplay,dp,writers}= book
	%> <p><b>Adult:</b>
		<%= adult %>
	</p>
	<p><b>Max Tag:</b>
		<a class='tag' href="/<%=username%>/?tag=<%=maxTag%>">
			<%= maxTag%>
		</a>
	</p>
	<p><b># of Ratings:</b>
		<%= vote_count %>
	</p>
	<p><b>User Rating:</b>
		<%= user_rating %>
	</p>
	<p><b>Runtime:</b>
		<%= runtime %>
	</p>
	<p><b>Revenue:</b>
		<%= revenue %>
	</p>
	<p><b>Original Language:</b>
		<%= original_language %>
	</p>
	<p><b>Budget:</b>
		<%= budget %>
	</p>
	<p><b>Cast:</b></p>
	<div class='tags'>
		<% cast.forEach(tag=> {%> <a class='tag' href="/<%=username%>/?tag=<%=tag%>">
				<%= tag%>
			</a>
			<%})%>
	</div>
	<p><b>Directors:</b></p>
	<div class='tags'>
		<% crew.forEach(tag=> {%> <a class='tag' href="/<%=username%>/?tag=<%=tag%>">
				<%= tag%>
			</a>
			<%})%>
	</div>
	<p><b>Screenplay:</b></p>
	<div class='tags'>
		<% screenplay.forEach(tag=> {%> <a class='tag' href="/<%=username%>/?tag=<%=tag%>">
				<%= tag%>
			</a>
			<%})%>
	</div>
	<p><b>Director of Photography:</b></p>
	<div class='tags'>
		<% dp.forEach(tag=> {%> <a class='tag' href="/<%=username%>/?tag=<%=tag%>">
				<%= tag%>
			</a>
			<%})%>
	</div>
	<p><b>Writers:</b></p>
	<div class='tags'>
		<% writers.forEach(tag=> {%> <a class='tag' href="/<%=username%>/?tag=<%=tag%>">
				<%= tag%>
			</a>
			<%})%>
	</div>
	<p><b>Production Companies:</b></p>
	<div class='tags'>
		<% production_companies.forEach(tag=> {%> <a class='tag' href="/<%=username%>/?tag=<%=tag%>">
				<%= tag%>
			</a>
			<%})%>
	</div>
	<p><b>Production Country:</b></p>
	<div class='tags'>
		<% production_countries.forEach(tag=> {%> <a class='tag' href="/<%=username%>/?tag=<%=tag%>">
				<%= tag%>
			</a>
			<%})%>
	</div>
	<p><b>Spoken Languages:</b></p>
	<div class='tags'>
		<% spoken_languages.forEach(tag=> {%> <a class='tag' href="/<%=username%>/?tag=<%=tag%>">
				<%= tag%>
			</a>
			<%})%>
	</div>
	<p><b>Genres:</b></p>
	<div class='tags'>
		<% genres.forEach(tag=> {%> <a class='tag' href="/<%=username%>/?tag=<%=tag%>">
				<%= tag%>
			</a>
			<%})%>
	</div>
	<p><b>Keywords:</b></p>
	<div class='tags'>
		<% keywords.forEach(tag=> {%> <a class='tag' href="/<%=username%>/?tag=<%=tag%>">
				<%= tag%>
			</a>
			<%})%>
	</div>
	<% }) %>
