<nav>
	<ul id="menu">
		<li class="logo nav-item">
			<a class="logo" href="/"><img src="../../logos/letterboxd-logo.svg" alt="Kiwi standing on oval"></a>
		</li>
		<li class="toggle"><a href="#menu"><i class="icon fa fa-bars"></i></a></li>
		<% if (username) { %>
			<li class="nav-item"><a class="nav-link" href="/user/<%= username %>">
					<%=username%>
				</a></li>
			<li class="nav-item"><a class="nav-link" href="/user/<%= username %>/personal">Films</a></li>
			<li class="nav-item"><a class="nav-link" href="/user/<%= username %>/personal">Friends</a></li>
			<li class="nav-item"><a class="nav-link" href="https://letterboxd.com/<%= username %>">Account</a></li>
			<% } %>
				<li class="searchbar">
					<form id="nav_searchbar" onsubmit="to_user_profile();return false">
						<input type="text" autocomplete="off" placeholder="Search Username" name="username">
						<button type="submit"><i class="fa fa-search"></i></button>
					</form>
				</li>
	</ul>
</nav>
