<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../style.css">
	<%- include('../partials/meta') %>
		<title>Recommendations</title>
</head>

<body>
	<% if(queryString==='' ){ queryString='?' }else{ queryString +='&' } %>
		<%- include ('../partials/navbar',{username:username}) %>
			<% if (search) { %>
				<h1 class='searchterm'>
					<%= search%>
				</h1>
				<% } %>
					<%- include ('../partials/filterbox',{ filterParams:filterParams,url:url,personal:true}) %>
						<main>
							<%- include('../partials/recommendation_list',{recommendations:
								data,username:username,depth:'../',queryString:queryString,url:url })%>
						</main>
						<%- include ('../partials/pagination',{page:page,queryString:queryString,username:username}) %>
							<script src="../index.js"></script>
</body>

</html>
